@charset "UTF-8";

@font-face {
  font-family: "septa-tracker-icons";
  src:url("fonts/septa-tracker-icons.eot");
  src:url("fonts/septa-tracker-icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/septa-tracker-icons.woff") format("woff"),
    url("fonts/septa-tracker-icons.ttf") format("truetype"),
    url("fonts/septa-tracker-icons.svg#septa-tracker-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "septa-tracker-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "septa-tracker-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back-circle:before {
  content: "\63";
}
.icon-about:before {
  content: "\61";
}
.icon-home:before {
  content: "\62";
}
.icon-github:before {
  content: "\64";
}
